{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}InfoFlow{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container nav-flex">
            <a href="{% url 'dashboard' %}" class="brand">InfoFlow</a>
            <div class="nav-links">
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'resource_list' %}">Recursos</a>
                <a href="{% url 'category_list' %}">Categorías</a>
                <a href="/admin/">Admin</a>
            </div>
        </div>
    </nav>
    <main class="container page">{% block content %}{% endblock %}</main>
</body>
</html>
